.fitness-form{
    position: relative;
    left: 200px;
    margin-bottom: 20px;
}


.fitness-form-containers{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
}

.fitness-form-containers label{
    font-size: 20px;
    margin-bottom: 5px;
}

.fitness-form-containers input{
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.fitness-form button{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(69, 244, 186);
    transition: 0.3s;
}

.fitness-form button:hover{
    cursor: pointer;
    background-color: rgb(130, 171, 229);
}

.fitness-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}